<div class="container">

    <p>chgm email</p>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="emailForm" (ngSubmit)="onSubmitmodifEmail()">
        <div class="form-group">
          <label for="pseudo">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="emailForm.invalid">Enregistrer</button>
      </form>
      <p class="text-danger">{{ errorMessageEmail }}</p>
    </div>



    <div class="row">
      <input type="password" id="newPSW" [(ngModel)]="newPSW">
      <button type="button" class="btn btn-primary" (click)="onOpenDial(1)">
        Changement PSW
      </button>
    </div>

    <p>chgm pseudo-img</p>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form [formGroup]="modifPsImgForm" (ngSubmit)="onSubmitmodifPsImg()">
          <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" class="form-control" formControlName="pseudo">
          </div>
          <div *ngIf="!modifPsImgForm.invalid && newUrl">
            <div class="progress">
              <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
            </div>
          </div>

          <div class="upload-btn-wrapper">
            <button *ngIf="!newUrl" class="btn btnUpl">Upload a file</button>
            <button *ngIf="newUrl" class="btn btnUrl">{{newUrl.slice(12)}}</button>
            <input type="file" (change)="onFileChanged($event)" name="myfile" formControlName="newUrl" />
          </div>

          <button class="btn btn-primary" type="submit" [disabled]="modifPsImgForm.invalid">Enregistrer</button>
        </form>
        <p class="text-danger">{{ errorMessagePsImg }}</p>
      </div>
    </div>

    <!-- ___________________formulaire re authentification______________________________ -->
    <!--_______________________________________________________________________________-->
    <!-- DIALOG -->
    <p-dialog header="Identifients" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
      <div class="ui-g ui-fluid">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">

            <form [formGroup]="signinForm" (ngSubmit)="onSubmitReAuth()">
              <div class="form-group">
                <label for="ActEmail">Adresse mail actuel</label>
                <input type="email" id="ActEmail" class="form-control" formControlName="ActEmail">
              </div>
              <div class="form-group">
                <label for="password">Mot de passe actuel</label>
                <input type="password" id="password" class="form-control" formControlName="password">
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">Valider</button>
            </form>
            <p class="text-danger">{{ errorMessage }}</p>
          </div>
        </div>
      </div>

    </p-dialog>

  </div>
