.chatlist {
height: 100%;
}

#chat_title {
  margin-top: 15px;
  border-bottom: solid 1px #232528;
  padding-bottom: 19px;
}

.list-group {
  height: 30em;
  overflow-y: scroll;
  height: 32em;
}

.input-group {
  background-color: #18191C;
  margin: 10px;
}

.btn-outline-secondary {
  background-color: #E2C447;
  color: #131516;
  border: none;
}

.btn-outline-secondary:hover{
  background-color: #FFDE52;
  color: #131516;
  border: none;
}

