<div class="chatlist">
  <ul class="list-group">
    <app-chat-item *ngFor="let chat of chats" [chat]="chat"></app-chat-item>
  </ul>

      <div class="chatcontrol input-group mb-3">
          <input type="text" class="form-control chatinput"  [(ngModel)]="content" placeholder="" aria-label="" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"  (click)="sendMessage()">Send</button>
          </div>
        </div>

      <!-- <input type="text" class="form-control chatinput" [(ngModel)]="content"/>
      <button class="btn btn-success sendbtn" (click)="sendMessage()">Send</button>
    </div>
</div> -->
