<!-- <div *ngIf="isReady" class="container"> -->

    <div class="container-fluid">
      <div class="jumbotron">
        <img src="../../assets/logo/rolify_logo@2x.png" class="center-img"/>
        <img src="../../assets/elements/separator.png" class="center-img" id="separator"/>
        <p class="lead">Online Role Playing Game Interface</p>
        <hr class="my-4">
        <h2 class="center-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <p class="center-txt text">Duis elementum sapien sit amet tellus aliquam, dignissim venenatis lacus consectetur.
           Etiam vitae convallis nisl. Duis sed est quis enim luctus rhoncus.
           Morbi porta vestibulum mauris non pretium. Donec dictum, diam vel maximus placerat.
          Etiam vitae convallis nisl. Duis sed est quis enim luctus rhoncus.
          Morbi porta vestibulum mauris non pretium. Donec dictum, diam vel maximus placerat,
           lectus ante consequat quam !</p>


        <div class="row">
          <div class="col-12 text-center btn-hover">
            <a class="btn btn-primary btn-lg" (click)="gotoSignin()" role="button" id="signup">Se connecter</a>
            <a class="btn btn-primary btn-lg" (click)="gotoSignup()" role="button" id="signin">S'inscrire</a>
          </div>
          <div class="col-12" id="div_knight">
            <div id="knight_red"></div>
            <div id="knight_green"></div>
            <div id="knight_yellow"></div>
          </div>
        </div>


      </div>
    </div>


