<div *ngIf=currentUser>
  <p *ngIf=currentUser.displayName> {{ currentUser.displayName }} </p>
  <p>{{ currentUser.email }} </p>
  <img *ngIf=currentUser.photoURL src={{currentUser.photoURL}} alt="Profile Picture" width="200px">
</div>

<button (click)="onSignOut()" style="cursor:pointer">Déconnexion</button>


<button (click)="onOpenEditMod()" style="cursor:pointer">Edit</button>
<!-- ___________________formulaire EDIT ______________________________ -->
<!--_______________________________________________________________________________-->
<!-- DIALOG -->
<p-dialog header="Identifients" [(visible)]="editDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
  <div class="ui-g ui-fluid">

<app-edit-user currentUser=currentUser ></app-edit-user>

   </div>
</p-dialog>