<div class="row">
  <div class="col-4">
    <app-sidebar>
      <div class="col-3">
        <!-- <app-liste-joueurs *ngIf="partie" [partie]="partie"></app-liste-joueurs> -->
      </div>
      <div class="col-9 chatform">
        <app-chat-list *ngIf="partie" [currentUser]="currentUser" [idPartie]="partieId"></app-chat-list>
      </div>
    </app-sidebar>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-2">
        <a routerLink="/lobby">QUITTER</a>
      </div>
      <div class="col-2">
        <a>PARAMETRES</a>
      </div>
      <div *ngIf="role == 0; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="col-3">
          <a (click)="open(content)">Editer la partie</a>
        </div>
        <div class="col-3"></div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="col-6"></div>
      </ng-template>
      <div *ngIf="partie" class="col-2">{{partie.titre}}</div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row description-mj">
          <div *ngIf="partie" class="col-4">
            <img src={{partie.mj.urlAvatar}} width="50px"/>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p *ngIf="partie">{{partie.mj.pseudo}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Maitre du Jeu</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row description-partie">
          <div class="col">
            <p *ngIf="partie">{{partie.description}}</p>
          </div>
        </div>
        <div class="row dice">
          <app-dice></app-dice>
        </div>
      </div>
      <div class="col">
        <app-partie-image *ngIf="partie" [img]="partie.image" [partie]="partie"></app-partie-image>
      </div>
    </div>
    <div class="row liste-personnages">
      <app-personnage-liste [partieId]="partieId"></app-personnage-liste>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <app-partie-form [entree]="partie" [currentUser]="currentUser" (sortie)="onClose($event)"></app-partie-form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
