

<div class="row">
  <div class="col-4">
    <app-sidebar>
      <div class="col-4">
        <app-sidebar>
          <p class="enligne"><img id="onlinepic" src="../../../assets/elements/online.png" height="7" width="6"/>EN LIGNE - <span class="yellow">1</span></p>
          <div *ngIf=currentUser>

            <p class="user_profil" *ngIf=currentUser.displayName>
              <img class="avatar" *ngIf=currentUser.photoURL src={{currentUser.photoURL}}>
              {{ currentUser.displayName }}</p>

          </div>
        </app-sidebar>
      </div>
      <div class="col-8 chatform">
        <app-chat-list *ngIf="partie" [currentUser]="currentUser" [idPartie]="partieId"></app-chat-list>
      </div>
    </app-sidebar>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-8">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/lobby">QUITTER</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="">PARAMETRES</a></li>
              <div *ngIf="role == 0; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <div class="nav-item">
                  <a (click)="open(content)">Editer la partie</a>
                </div>
              </ng-template>
              <ng-template #elseBlock>
                <div class="nav-item"></div>
              </ng-template>
            </ul>
          </div>
        </nav>
      </div>
      <div *ngIf="partie" class="col-4"><h3>{{partie.titre}}</h3></div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row description-mj">
          <div *ngIf="partie" class="col-4">
            <img src={{partie.mj.urlAvatar}} width="50px"/>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <p *ngIf="partie">{{partie.mj.pseudo}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>Maitre du Jeu</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row description-partie">
          <div class="col">
            <p *ngIf="partie">{{partie.description}}</p>
          </div>
        </div>
        <div class="row dice">
          <app-dice></app-dice>
        </div>
      </div>
      <div class="col">
        <app-partie-image *ngIf="partie" [img]="partie.image" [partie]="partie"></app-partie-image>
      </div>
    </div>
    <div class="row liste-personnages">
      <app-personnage-liste #persoList [partieId]="partieId"></app-personnage-liste>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <app-partie-form [entree]="partie" [currentUser]="currentUser" (sortie)="onClose($event)"></app-partie-form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #persoForm let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <app-personnage-details [partie]="partie" [currentUser]="currentUser" (sortie)="onClose($event)"></app-personnage-details>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
