<div class="row">
  <div class="col">
    <img src={{personnage.urlAvatar}} alt="Avatar personnage" height="200px">
  </div>
</div>
<div class="row">
  <div class="col">
    <button id="changeAvatar" type="button" class="btn btn-warning">Changer d'avatar</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="nom">Nom</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="nom">{{personnage.nom}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="classe">Classe</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="classe">{{personnage.classe}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="race">Race</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="race">{{personnage.race}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="sexe">Sexe</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="sexe">{{personnage.sexe}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="pv">Pv</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="pv">{{personnage.pv}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="fo">Force</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="fo">{{personnage.fo}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="defense">Défense</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="defense">{{personnage.defense}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="esprit">Esprit</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="esprit">{{personnage.esprit}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="intelligence">Intelligence</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="intelligence">{{personnage.intelligence}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="initiative">Initiative</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="initiative">{{personnage.initiative}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="equipement">Equipement</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="equipement">{{personnage.equipement}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="inventaire">Inventaire</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="inventaire">{{personnage.inventaire}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="background">Background</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea id="background">{{personnage.background}}</textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <button type=button class="btn btn-warning" (click)="click()">OK</button>
  </div>
</div>

