<div class="row wrapper">

      <p *ngFor="let tuplePersonnageJoueur of personnages">
        <app-personnage-preview [tuplePersonnageJoueur]=tuplePersonnageJoueur><fa name="plus" size="5x" (click)="open(content, tuplePersonnageJoueur[0])"></fa></app-personnage-preview>
      </p>

  </div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <app-personnage-details [personnage]="personnageToDisplay" (sortie)="onUpdate($event)"></app-personnage-details>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
