<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" formControlName="nom">
      </div>
      <!-- <div class="form-group">
          <label for="url">URL</label>
          <input type="text"
                 id="url"
                 class="form-control"
                 formControlName="url">
        </div> -->

      <!-- <input type="file" (change)="onFileChanged($event)" #fileInput>
      <button (click)="fileInput.click()">Select File</button>
!-->

      <div *ngIf="currentUpload">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
          </div>
          Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
        </div>
        
            <label>
               <input type="file" (change)="onFileChanged($event)"  class="form-control" formControlName="url">
            </label>
        
            <!-- <button
                    [disabled]="!selectedFiles"
                    (click)="uploadSingle()">
        
              Upload Single
            </button>
        
            <label>
               <input type="file" (change)="detectFiles($event)" multiple>
            </label> -->
        
              <!-- <button
                      [disabled]="!selectedFiles"
                      (click)="uploadMulti()">
        
                Upload Multiple
              </button> -->

              <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>

    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
