<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" formControlName="nom">
      </div>

      <div *ngIf="!signupForm.invalid">
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
        </div>
        <!-- Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete -->
      </div>

      <div  class="upload-btn-wrapper">
        <button *ngIf="!url" class="btn btnUpl">Upload a file</button>
        <button *ngIf="url" class="btn btnUrl">{{url}}</button>
        <input type="file" (change)="onFileChanged($event)" name="myfile" class="form-control" formControlName="url" />
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>
      </div>

    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
