<div class="row">

  <div class="col-2"><img class="avatar" [src]="tuplePersonnageJoueur[0].urlAvatar"></div>
  <div class="col-2 title">
    <ul>
      <li><span class="title_spec">NOM</span></li>
      <li><span class="title_spec">RACE</span></li>
      <li><span class="title_spec">CLASSE</span></li>
      <li><span class="title_spec">VIE</span></li>
      <li><span class="title_spec">INITIATIVE</span></li>
    </ul>
  </div>
  <div class="col-5">
    <ul>
      <li>{{tuplePersonnageJoueur[0].nom}}</li>
      <li>{{tuplePersonnageJoueur[0].race}}</li>
      <li>{{tuplePersonnageJoueur[0].classe}}</li>
      <li>{{tuplePersonnageJoueur[0].pv}}</li>
      <li>{{tuplePersonnageJoueur[0].initiative}}</li>
    </ul>
  </div>

  <div class="col-2 voir_fiche"><img class="voir" src="../../../../assets/elements/voir.png"/></div>

</div>
<div class="row">
  <div class="col-5"><p class="pseudo"> {{tuplePersonnageJoueur[1].pseudo}}</p></div>
</div>


