<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col">
            {{tuplePersonnageJoueur[1].pseudo}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img [src]="tuplePersonnageJoueur[0].urlAvatar">
          </div>
        </div>
      </div>
      <div clas="col-8">
        <div class="row">
          <div class="col-6">
            <p>{{tuplePersonnageJoueur[0].nom}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p>{{tuplePersonnageJoueur[0].race}}</p>
          </div>
          <div class="col-6">
            <p>{{tuplePersonnageJoueur[0].classe}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p>Points de vie : {{tuplePersonnageJoueur[0].pv}}</p>
          </div>
          <div class="col-6">
            <p>Initiative : {{tuplePersonnageJoueur[0].initiative}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <ng-content></ng-content>
  </div>
</div>
