<li class="list-group-item">
  <div class="row">
    <div class="col-3 imgPseudo">
      <img [src]="chat.source.urlAvatar" class="avatar" />
      <h5 class="pseudo">
        {{chat.source.pseudo}}
      </h5>
    </div>
    <div class="col-9">
      <div class="row time">
          <i aria-hidden="true">
            <img src="../../../../assets/icons/clock.png">
          </i>
          <span class="timestamp">{{chat.dateTime | age }}</span>
      </div>
      <div class="row">
        <div class="message">
          <p>{{chat.body}}</p>
        </div>
      </div>
    </div>
  </div>
</li>
