<li class="list-group-item"></li>

<div class="container">

  <div class="row">
    <div class="col-1 img">
      <img [src]="chat.source.urlAvatar" class="avatar"/>
    </div>
    <div class="col-8">
      <p class="pseudo">{{chat.source.pseudo}}</p>
    </div>
    <div class="col-3 time">
      <span class="form-text text-muted">{{chat.dateTime | age }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11" [ngClass]="{'perso' : currentUser && currentUser.uid === chat.source.id,
 'other' : currentUser && currentUser.uid !== chat.source.id,
 'system' : 'sys'=== chat.source.id}">
      <p>{{chat.body}}</p>
    </div>
  </div>


</div>
