.list-group-item {
border: none;
  background-color: transparent;

}

.perso {   /* msg du user */
  border-radius: 10px;
  background-color: #E2C447;
  padding-top: 7px;
  color: #131516;
}

.other {    /* msg autre */
  border-radius: 10px;
  background-color: white;
  padding-top: 7px;
  color: #18191C;
}

.system {    /* msg system */
  border-radius: 10px;
  background-color: #E2E2E2;
  padding-top: 7px;
  color: #18191C;
}


.system {
 background-color: rgb(108, 172, 26);
}

/* .systemSub {

} */

.avatar {
    width: 40px;
  height: 40px;
    border-radius: 50%;
}

.img {

}

.pseudo {
    font-size: 1.2em;
  padding-left: 14px;
  padding-top: 4px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  margin-top: 1px;
}

.time {
    justify-content: flex-end;
  text-align: right;
}

.form-text {
    margin-left: 0.3em;
    font-size: 0.8em;
}

/* .message {

} */

p {
    width: 100%;
    overflow-wrap: break-word;
  padding-left: 18px;
}



