<div class="lobby">

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><img src="../../../../assets/logo/logo_menu.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="" (click)="onSignOut()">DECONNEXION</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="" (click)="onOpenEditMod()">PARAMETRE</a></li>
      </ul>
      <span class="navbar-text">

    </span>
    </div>
  </nav>


  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-4" id="sidebar">
          <app-sidebar>
            <p class="enligne"><img id="onlinepic" src="../../../assets/elements/online.png" height="7" width="6"/>EN LIGNE - <span class="yellow">1</span></p>
            <div *ngIf=currentUser>

              <p class="user_profil" *ngIf=currentUser.displayName>
                <img class="avatar" *ngIf=currentUser.photoURL src={{currentUser.photoURL}}>
                {{ currentUser.displayName }}</p>

            </div>


            <!-- ___________________formulaire EDIT ______________________________ -->
            <!--_______________________________________________________________________________-->
            <!-- DIALOG -->
            <p-dialog header="Personnals Informations" [(visible)]="editDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">

              <app-edit-user (refresh)=refresh($event)></app-edit-user>

            </p-dialog>

          </app-sidebar>
        </div>
        <!--________________________Chat______________________________________-->

        <div class="col-8 chatform" id="chat">
          <app-chat-list [currentUser]="currentUser"></app-chat-list>
        </div>
      </div>
    </div>

    <!--_____________partie liste______________________________________-->

    <div class="col-4" id="party">
      <app-partie-liste></app-partie-liste>
    </div>
  </div>
  <!-- <div class="row">
    <a routerLink="/partie">Test</a>
  </div> -->

</div>
