<div class="row lobby">

  <div class="col-6 chatform">
    <app-chat-list [utilisateur]="currentUser"></app-chat-list>

  </div>

  <div class="col-6">
    <div *ngIf=currentUser>
      <p *ngIf=currentUser.displayName> {{ currentUser.displayName }} </p>
      <p>{{ currentUser.email }} </p>
      <div>
        <img class="avatar" *ngIf=currentUser.photoURL src={{currentUser.photoURL}} alt="Profile Picture" width="200px">
      </div>
    </div>

    <button  (click)="onSignOut()" class="btn option"><i>
        <img src="../../../assets/icons/exit.png">
      </i></button>
    <button  (click)="onOpenEditMod()" class="btn option"><i>
        <img src="../../../assets/icons/gear.png">
      </i></button>

    <!-- ___________________formulaire EDIT ______________________________ -->
    <!--_______________________________________________________________________________-->
    <!-- DIALOG -->
    <p-dialog header="Edit" [(visible)]="editDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="800">

      <app-edit-user (refresh)=refresh($event)></app-edit-user>

    </p-dialog>

  </div>
</div>
