<h4>MES PARTIES MAITRE DU JEU</h4>

<table class="table tabParties">
  <thead>
    <th style="width: 15em">NOM</th>
    <th style="width: 5em">JOUEURS</th>
    <th style="width: 16em">MAITRE DU JEU</th>
    <th style="width: 5em"></th>
    <th style="width: 5em"></th>
    <!-- <th><button type=button class="btn" (click)="open(content)">nouvelle partie</button>
    </th> -->
  </thead>
  <tbody>
    <tr *ngFor="let partie of partiesMJ" app-partie-preview [partie]="partie">
      <td style="width: 5em">
        <button class="btn" [routerLink]="['/partie', partie.id, 0]">
          <i>
            <img src="../../../assets/icons/network.png">
          </i>
        </button>
      </td>
      <td style="width: 5em">
        <button class="btn" (click)="delete(partie)">
          <i>
            <img src="../../../assets/icons/x.png">
          </i>
        </button>
      </td>
      <!-- <a [routerLink]="['/partie', partie.id, 0]"><fa name="cog" animation="spin"></fa></a> -->
    </tr>

  </tbody>

</table>

<!-- AJOUTER UNE PARTIE -->
<button id="add_party" (click)="open(content)"></button>

<!-- <button type=button class="btn" (click)="open(content)">Créer une nouvelle partie en tant que MJ</button> -->
<h4>MES PARTIES EN COURS</h4>
<table class="table tabParties">
    <thead>
    <th style="width: 15em">NOM</th>
    <th style="width: 5em">JOUEURS</th>
    <th style="width: 16em">MAITRE DU JEU</th>
    <th style="width: 5em"></th>
    <th style="width: 5em">

  </thead>
  <tbody>
    <tr *ngFor="let partie of partiesJoueur" app-partie-preview [partie]= "partie">
        <td style="width: 5em">
            <button class="btn" [routerLink]="['/partie', partie.id, 1]">
              <i>
                <img src="../../../assets/icons/network.png">
              </i>
            </button>
          </td>
      <!-- <a [routerLink]="['/partie', partie.id, 1]"><fa name="cog" animation="spin"></fa></a> -->
    </tr>
  </tbody>
</table>
<h4>PARTIES DISPONIBLES</h4>
<table class="table tabParties">
    <thead>
    <th style="width: 15em">NOM</th>
    <th style="width: 5em">JOUEURS</th>
    <th style="width: 16em">MAITRE DU JEU</th>
    <th style="width: 5em"></th>
    <th style="width: 5em">

  </thead>
  <tbody>
    <tr *ngFor="let partie of partiesNotIn" app-partie-preview [partie]="partie">
      <td>
        <button class="btn-outline-danger" (click)="join(partie)">
          <fa name="circle"></fa>
        </button>
      </td>

    </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <app-partie-form [currentUser]="utilisateur" (sortie)="onClose($event)"></app-partie-form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
