.btn {
  background-color: transparent;
}

.tabParties thead {
  display: block;
}

.tabParties tbody {
  display: block;
  height: 60px;
  overflow-y: scroll;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  margin-top: -1px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 17px;
  color: #E2C447;
  border-top: solid 1px #232528;
  border-bottom: solid 1px #232528;
}

.table thead th {
  vertical-align: top !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
  font-weight: 200;
  font-size: 14px;
}


#add_party {
  width: 100%;
  height: 59px;
  border: dashed 1px #C9C9C9;
  background-color: transparent;
  outline:none;
  background-image: url("../../../../assets/elements/add_party.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 36px;
}

/* mouse over link */
#add_party:hover {
  width: 100%;
  height: 59px;
  border: solid 1px #E2C447;
  background-color: #4F5259;
  outline:none;
  background-image: url("../../../../assets/elements/add_party.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 36px;
  border-radius: 10px;

}

.picto {
  width: 10px;
  vertical-align: top !important;
}

button {
  border:none;
  background-color: transparent;
}
