/* General, Body */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body, * {

  font-family: 'Roboto', sans-serif;

}

* {
  cursor:pointer;
}


::-webkit-scrollbar {   /* cache la scroll bar */
  display: none;
}

.container-fluid {
  max-width: 100% !important;
  margin: 1px !important;
  padding-left: 0px !important;;
  padding-right: 0px !important;;
}

a:hover {
 cursor: pointer;
}

.container {
  max-width: 100% !important;
  margin: 1px !important;
}


