
/* overwrite du BODY */
::ng-deep body{
  background-color: #232528;
}

/* unvisited link */
a:link {
  color: #E2C447;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #E2C447;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: #E2C447;
}

/* MENU */

.navbar-brand img {
  height: 95%;
  width: 95%;
}

.container {
  width: 100%;
  background-color: aqua;
  height: 100%;
  padding-top: 100px;
}

/* .row {} */

#form {
  margin-top: 60px;
  background-color: #131516;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: -3px 3px 5px black;
  height: 460px;
}

.form-group {
  background-color: #131516;
}

.form_title {
  margin-bottom: 1px;
  color: white;
  font-size: 14px;
  font-weight:100;
}

h5 {
  font-weight: 300;
  text-align: center;
}

#titre {font-weight: 500; margin-top: 36px; font-size: 26px; color: white}
#sous_titre {font-weight: 500; font-size: 26px; margin-bottom: 42px; color: white}

#btn_valid {
  background-color: #E2C447;
  color: #18191C;
  border-radius: 30px;
  font-weight:300;
  font-size: 18px;
  margin-right: 35px;
  margin-top: 27px;
  outline: 0px;
  border-style: none;
  width: 100%;

}



.yellow {
  color: #E2C447;
}

/* background items animation */

.items-bg {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: url("../../../../assets/animation/items.png");
  animation: items 40s ease-in-out infinite;
}

@keyframes items {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@media (max-width: 768px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce-page[class*=columns-] ul.products li.product,
  .woocommerce[class*=columns-] ul.products li.product {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 7em;
  }
}
